body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background: gold;
}

div {
  width: auto;
}

img {
  border: 10px ridge lightgray;
}

p {
  font-family: cursive;
  font-size: 22px;
}

.center {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
